<section id="disclaimer">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl lg:text-center px-6 lg:px-0">
      <h2 class="text-base font-semibold leading-7 font-Futurewave">
        Small Disclaimer
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight font-Futurewave sm:text-4xl"
      >
        Tools you need to deploy your app
      </p>
      <p class="mt-6 text-lg leading-8">
        During this workshop, you'll gain insights into the process of creating
        a new website project from the ground up, all the way through
        deployment. Our tools of choice include the Astro.build framework, along
        with Tailwind CSS and HyGraph as a headless CMS.<br /><br />
      </p>
    </div>

    <div class="p-8 sm:p-10 lg:flex-auto">
      <div class="mt-10 flex items-center gap-x-4">
        <h3 class="flex-none text-sm font-semibold leading-6 font-Futurewave">
          Topics
        </h3>
        <div class="h-px flex-auto bg-sky-500"></div>
      </div>
      <ul
        role="list"
        class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 sm:grid-cols-3 sm:gap-6"
      >
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Astro build setup
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Tailwind CSS basics
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          VS Code basics
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Re:factor your code
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          SEO basics
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Connecting Astro with HyGraph CMS
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Deployment to Netlify
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Connecting to a public API with VUE in Astro
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-sky-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          DarkMode & Responsive Web Design
        </li>
      </ul>
    </div>
  </div>
</section>
