    <section id="notice">
      <div class="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-32">
        <div
          class="mx-auto max-w-5xl lg:text-center px-2 sm:px-6 lg:px-0 m-3 pb-12 pt-3 nm-flat-white-lg dark:nm-flat-gray-700-lg rounded-lg p-8 text-left sm:text-center w-full"
        >
          <div class="mx-auto max-w-2xl lg:text-center pt-24 px-6 lg:px-0">
            <h2 class="text-base font-semibold leading-7 font-Futurewave">
              please read
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight font-Futurewave sm:text-4xl"
            >
              Important Notice
            </p>
          </div>
          <p
            class="mt-6 text-sm sm:text-lg leading-8 text-amber-800 dark:text-sky-500 font-Futurewave px-6 sm:px-8"
          >
            Apologies for any inconvenience. Please be aware that you'll need to
            set up your own development environment. See pre-requirements as per
            below!
            <br /><br />
            Due to time constraints, there won't be an opportunity for installation
            or troubleshooting during the workshop.
          </p>
          <div class="mx-auto max-w-2xl lg:text-center px-6 lg:px-0">
            <div class="p-0 sm:p-10 lg:flex-auto">
              <div class="mt-10 flex items-center gap-x-4">
                <h3
                  class="flex-none text-sm font-semibold leading-6 font-Futurewave"
                >
                  Pre-Requirements
                </h3>
                <div class="h-px flex-auto bg-sky-600"></div>
              </div>
              <ul
                role="list"
                class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6"
              >
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-sky-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <a
                    href="https://nodejs.org/en/download/"
                    target="_blank"
                    class="p-0 font-Futurewave font-bold text-amber-800 dark:text-amber-600">Node & NPM installed (LTS version)</a
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-sky-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <a
                    href="https://git-scm.com/downloads"
                    target="_blank"
                    class="p-0 font-Futurewave font-bold text-amber-800 dark:text-amber-600">GIT installed</a
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-sky-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <a
                    href="https://github.com/signup"
                    target="_blank"
                    class="p-0 font-Futurewave font-bold text-amber-800 dark:text-amber-600">GitHub</a
                  > &
                  <a href="https://app.hygraph.com/" target="_blank" class="p-0 font-Futurewave font-bold text-amber-800 dark:text-amber-600"
                    >HyGraph</a
                  >
                  account
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-sky-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <a
                    href="https://code.visualstudio.com/download"
                    target="_blank"
                    class="p-0 font-Futurewave font-bold text-amber-800 dark:text-amber-600">VS Code (optional)</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>