---
import IntroSection from "./IntroSection.astro";
---

<IntroSection title="About Me" id="about">
  <Fragment slot="lead">
    <p>
      My name?
      <br /><br />
      Well, that’s a secret whispered only to the moon and the rustling pages of
      forgotten manuscripts. To the world, I am simply “The Keeper.”
    </p>
  </Fragment>
</IntroSection>
