---
import IntroSection from "./IntroSection.astro";
---

<IntroSection title="Credits | Attribution" id="credits">
  <Fragment slot="lead">
    <div class="max-w-7xl mx-auto my-10">
      <h1 class="font-Futurewave text-2xl">Images & Icons</h1>
      <a
        title="Nintendo (derivative version by Lucian Novosel), Public domain, via Wikimedia Commons"
        href="https://commons.wikimedia.org/wiki/File:Novosel_mushroom.svg"
        target="_blank"
        aria-label="Nintendo (derivative version by Lucian Novosel), Public domain, via Wikimedia Commons"
        >Nintendo (derivative version by Lucian Novosel), Public domain, via
        Wikimedia Commons</a
      >

      <a
        href="https://www.vecteezy.com/free-photos/oriental"
        target="_blank"
        title="Oriental Stock photos by Vecteezy"
        aria-label="Oriental Stock photos by Vecteezy"
        >Oriental Stock photos by Vecteezy</a
      >
      <a
        href="https://pixabay.com/illustrations/sunset-anime-minimal-nature-sky-7628294/"
        title="Pixabay | Sunset"
        target="_blank"
        aria-label="Pixabay | Sunset">Pixabay | Sunset</a
      >
      <a
        href="https://unsplash.com/"
        target="_blank"
        title="Unsplash | The internet’s source for visuals."
        aria-label="Unsplash | The internet’s source for visuals."
        >Unsplash | The internet’s source for visuals.</a
      >
      <a
        href="https://iconify.design/"
        target="_blank"
        title="Iconify | Freedom to choose icons"
        aria-label="Iconify | Freedom to choose icons"
        >Iconify | Freedom to choose icons</a
      >
    </div>
    <div class="max-w-7xl mx-auto my-10">
      <h1 class="font-Futurewave text-2xl">Technologies</h1>
      <a
        title="Astro.build | The web framework for content-driven websites."
        href="https://astro.build/"
        target="_blank"
        aria-label="Astro.build - The web framework for content-driven websites"
        >Astro.build - The web framework for content-driven websites</a
      >

      <a
        title="HyGraph | The headless CMS powering mission-critical applications."
        href="https://hygraph.com/"
        target="_blank"
        aria-label="HyGraph - The headless CMS powering mission-critical applications."
        >HyGraph - The headless CMS powering mission-critical applications.</a
      >
      <a
        title="Tailwind CSS | Rapidly build modern websites without ever leaving your HTML."
        href="https://tailwindcss.com/"
        target="_blank"
        aria-label="Read and learn more about Tailwind CSS"
        >Tailwind CSS | Rapidly build modern websites without ever leaving your
        HTML</a
      >
    </div>
    <div class="max-w-7xl mx-auto my-10">
      <h1 class="font-Futurewave text-2xl">Plugins Used</h1>
      <a
        title="Sam Beevors | Tailwind CSS Neumorphism"
        href="https://github.com/sambeevors/tailwindcss-neumorphism"
        target="_blank"
        aria-label="Read and learn more about Tailwind CSS Neumorphism"
        >Sam Beevors | Tailwind CSS Neumorphism.</a
      >

      <a
        title="Tailwind Labs | Tailwind CSS Typography"
        href="https://github.com/tailwindlabs/tailwindcss-typography"
        target="_blank"
        aria-label="Read and learn more about Tailwind Typography"
        >Tailwind Labs | Tailwind CSS Typography</a
      >
      <a
        title="Astro Icon | Icons made easy, powered by Astro."
        href="https://www.astroicon.dev/"
        target="_blank"
        aria-label="Read and learn more about Astro Icon"
        >Astro Icon | Icons made easy, powered by Astro.</a
      >
      <a
        title="Fontsource | Self-host Open Source fonts in neatly bundled NPM packages."
        href="https://fontsource.org/"
        target="_blank"
        aria-label="Read and learn more about Fontsource NPM"
        >Fontsource | Self-host Open Source fonts in neatly bundled NPM
        packages.</a
      >
    </div>
    <div class="max-w-7xl mx-auto my-10">
      <h1 class="font-Futurewave text-2xl">Fonts</h1>
      <a
        title="snapedsgn"
        href="https://www.creativefabrica.com/designer/snapedsgn/"
        target="_blank"
        aria-label="Futurewave font by snapedsgn"
        >snapedsgn | Futurewave font</a
      >
    </div>
    <div class="max-w-7xl mx-auto my-10">
      <h1 class="font-Futurewave text-2xl">Special Thanks</h1>
      <a
        title="Cybozu | ほんとに、ありがとうございました。For having us using their meeting-room facilities"
        href="https://cybozu.co.jp/"
        target="_blank"
        aria-label="Read and learn more about Cybozu">Cybozu</a
      >

      <a
        href="https://owddm.com/"
        target="_blank"
        title="OWDDM is a volunteer, non-profit group that organizes meetups in Kansai."
        aria-label="Read and learn more about OWDDM"
        >OWDDM | KWDDM - Osaka/Kyoto Web Designers and Developers Meetup</a
      >
    </div>
  </Fragment>
</IntroSection>
