---
import IntroSection from "./IntroSection.astro";
---

<IntroSection title="Disclaimer" id="Disclaimer">
  <Fragment slot="lead">
    <p class="text-center text-xs font-Futurewave">
      <br />
      This is a very plain blog index
      <br />
      <span class="leading-9 text-xl">Your mission is to create your own!</span>
    </p>
        <p class="text-center text-xs font-Futurewave">
      <br />
      if you think this looks bad...
      <br />
      <span class="leading-9 text-xl">check out the article page!</span>
    </p>
  </Fragment>
</IntroSection>
