---
import IntroSection from "./IntroSection.astro";
---

<IntroSection title="Disclaimer" id="Disclaimer">
  <Fragment slot="lead">
    <p class="text-center text-xs font-Futurewave">
      <br />
      This is a very plain portfolio index
      <br />
      <span class="leading-9 text-xl">Your mission is to create your own!</span>
    </p>
    <p class="text-center text-xs font-Futurewave">
      <br />
      if you think this looks bad...
      <br />
      <span class="leading-9 text-xl"
        >check out the portfolio's project page!</span
      >
    </p>
    <p class="text-center text-xs font-Futurewave">
      <br />
      Something's wrong. Let's find out how to...
      <br />
      <span class="leading-9 text-xl"
        >improve this page!</span
      >
    </p>
  </Fragment>
</IntroSection>
