---
import MainHead from "../components/MainHead.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const {
  title = "OWDDM | KWDDM | 大阪市, 日本",
  description = "OWDDM and KWDDM are volunteer non-profit groups that organizes Meetups in Kansai | Osaka/Kyoto Web Designers and Developers",
} = Astro.props;
---

<html
  lang="en"
  class="scroll-behavior: smooth; h-full motion-safe:scroll-smooth"
>
  <MainHead {title} {description} />
  <body
    class="bg-gray-50 antialiased transition-colors duration-500 dark:bg-gray-700 dark:text-gray-50"
  >
    <Navigation />
    <main>
      <div
        id="scroll-progress"
        class="bg-orange-600 h-1 fixed top-0 left-0 z-50"
      >
      </div>
      <slot />
    </main>
    <Footer />
    <script type="module">
      window.addEventListener("scroll", function () {
        const scrollableHeight =
          document.documentElement.scrollHeight - window.innerHeight;
        const scrolled = window.scrollY;
        const progressBar = document.getElementById("scroll-progress");
        const progress = (scrolled / scrollableHeight) * 100;
        progressBar.style.width = progress + "%";
      });
    </script>
    <!--- Ends script --->
  </body><!--- Starts script --->
</html>
