---
import { Icon } from "astro-icon/components";
import MainLayout from "../../layouts/MainLayout.astro";
import PortfolioIndex from "../../components/PortfolioIndex.astro";
import TextPortfolioIndex from "../../components/TextPortfolioIndex.astro";

const {
  title = "My Portfolio Index",
  description = "Portfolio index of all my projects I created during my wonderful and exciting adventures in Japan!",
} = Astro.props;
---

<MainLayout title={title} description={description}>
  <TextPortfolioIndex />
  <section
    class="my-36 flex scroll-mt-24 flex-col items-center gap-4 space-y-8 px-6"
  >
    <div class="mt-8 flex flex-col items-center gap-4">
      <a href="/" class="flex justify-center space-x-3 md:justify-start">
        <p class="flex items-center justify-center">
          <Icon
            name="logomark"
            class="h-12 w-auto sm:h-20"
            aria-label="Osaka/Kyoto Web Designers and Developers - OWDDM/KWDDM logo"
          />
        </p>
        <span
          class="self-center font-extrabold uppercase tracking-[0.6em] text-base sm:text-xl"
          >{title}</span
        >
      </a>
      <div class="max-w-2xl text-center mx-auto">
        <p class="text-base font-Futurewave">{description}</p>
      </div>
    </div>
  </section>
  <section class="my-36">
    <div class="mx-auto max-w-7xl">
      <PortfolioIndex />
    </div>
  </section>
</MainLayout>
